 .navbar{
   
    justify-content: space-around;
    padding: 10px;
    box-shadow: 0 1px 2px -3px black;
    display: flex;
    background-color: lightblue;
  

    margin:0;
    
 }
 .nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
 }
 .nav-logo p{
    font-size: 38px;
    color: rgb(29, 61, 113);
    font-weight: 700;
 }
 .nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 35px; 
    color: rgb(166, 118, 70);
    font-size: 18px;
    font-weight: 500;
 }
 .nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer ;
 }
 .nav-menu hr {
     border:none;
     width: 80%;
     height: 3px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius:10px;
     background:rgb(180, 71, 71); 
     margin-left: 5px;
 }
 .nav-login-cart{
    display: flex;
    align-items: center;
    justify-items: center;

 }
 .nav-login-cart button{
   width: 120px;
   height: 35px;
   outline: none;
   border: 1px solid rgb(29, 61, 113);
   border-radius: 75px;
   color:rgb(29, 61, 113);
   font-size: 20px;
   font-weight: 500;
   background: rgb(87, 177, 206);
   cursor: pointer;
 }
  .nav-login-cart button:active{
   background:#f3f3f3;
  }
  .nav-cart-count{
   width: 22px;
   height: 22px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: -5px;
   margin-left: -5px;
   border-radius: 11px;
   font-size: 14px;
   background: red;
   color: white;
   
  }
  .xyz{
   text-decoration: none;
  }
